---
import { SITE } from "../lib/site";

const navItems = [
  { href: "https://aimrferdy.com", label: "Home" },
  { href: "/blog", label: "Blog" },
  { href: "/tools", label: "Tools" },
  { href: "/product", label: "Product" },
  { href: "/contact", label: "Contact" },
];
---


<!-- HEADER -->

<header class="main-header">

<div class="container">

<div class="header-wrap">

<div class="left-nav">

<div class="menu-btn" onclick="openMenu()">
☰
</div>

<a href="/" class="logo">
AI MR FERDY
</a>
<style>
@keyframes animate{to{background-position:200% center}} 
.logo{background:linear-gradient(330deg,#6d1989 0%,#1f70d9 25%,#6140b6 50%,#7f00ff 75%,#6d1989 100%);background-size:200% auto;-webkit-background-clip:text;-webkit-text-fill-color:transparent;animation:animate 1.5s linear infinite; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; display:block} 
</style>
</div>

<nav class="desktop-nav">

 {navItems.map((item) => (
    <a href={item.href}>{item.label}</a>
  ))}

</nav>

<div class="right-nav">

<button
  class="theme-btn"
  id="themeToggle"
  aria-label="Toggle Theme"
>

  <!-- MOON -->
  <svg
    class="moon-icon"
    viewBox="0 0 24 24"
    fill="none"
  >
    <path
      d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>

  <!-- SUN -->
  <svg
    class="sun-icon"
    viewBox="0 0 24 24"
    fill="none"
  >
    <circle
      cx="12"
      cy="12"
      r="5"
      stroke="currentColor"
      stroke-width="2"
    />

    <path
      d="M12 1v2 M12 21v2 M4.22 4.22l1.42 1.42 M18.36 18.36l1.42 1.42 M1 12h2 M21 12h2 M4.22 19.78l1.42-1.42 M18.36 5.64l1.42-1.42"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />
  </svg>

</button>

</div>

</div>

</div>

</header>

<!-- MOBILE MENU -->

<div class="mobile-menu" id="mobileMenu">

<div class="close-btn" onclick="closeMenu()">
✕
</div>

<div class="mobile-nav">

  {navItems.map((item) => (
    <a href={item.href}>{item.label}</a>
  ))}

</div>

<div class="mobile-contact">

<p>Jakarta, Indonesia</p>
<p>hello@aimrferdy.com</p>


</div>

<!-- <div class="mobile-social">

<a href="#">Instagram</a>
<a href="#">Telegram</a>
<a href="#">Facebook</a>
<a href="#">Pinterest</a>

</div> -->
